@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color-rgb: 0, 0, 0; /* Color del texto */
  --background-start-color-rgb: 214, 219, 220; /* Color de fondo de inicio */
  --background-end-color-rgb: 255, 255, 255; /* Color de fondo final */
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-rgb: 255, 255, 255; /* Color del texto en modo oscuro */
    --background-start-color-rgb: 0, 0, 0; /* Color de fondo de inicio en modo oscuro */
    --background-end-color-rgb: 0, 0, 0; /* Color de fondo final en modo oscuro */
  }
}


body {
  
   font-family: 'roboto', sans-serif;
  

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      #ffffff
    )
    #e2e2e2;
}

/* FORMATO PARA BARRA DE NAVEGACIÓN */

.nav-link {
  padding: 0.5rem 1rem; /* Agrega padding */
  margin-right: 1rem; /* Agrega margen derecho entre elementos */
  color: #333; /* Color del texto */
  text-decoration: none; /* Elimina el subrayado predeterminado en los enlaces */
  font-size: 1rem; /* Tamaño de la fuente */
}

.nav-link:hover {
  color: #0070f3; /* Cambia el color del texto al pasar el mouse sobre el enlace */
}